/*** RESET ***/


/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* @end */


/** ------------------------------------------------------------------- **/

body, html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
}

#wrapper {
  height: auto;
  /* These two lines were the key. */
  min-height: 100%;
  position: relative;
  margin: 0px auto;
  padding: 0px auto;
}

.highlight {
  font-weight: bold;
  background: yellow;
  cursor: pointer;
}

div#dv_transcript_korean {
  max-width: 70%;
}

.dvSentence {
  font-size: 18pt;
  font-family: 'Nanum Gothic', serif;
  color: slategrey;
  line-height: 220%;
  text-transform: none;
  text-indent: 0ex;
  text-align: left;
  letter-spacing: normal;
  word-spacing: 1ex;
  text-decoration: none;
}

#dv_definitions {
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 10px solid rgb(61, 65, 77);
}

#dv_definitions_content {
  width: 100%;
  height: 100%;
}

#dv_definitions_close_button {
  top: 3px;
  right: 5px;
  font-size: 15px;
  position: absolute;
  border: 1px solid black;
  background: rgb(42, 43, 48);
  font-family: Arial, sans-serif;
  padding: 10px;
  color: white;
  text-decoration: none !important;
}

#dv_definitions_close_button:hover {
  background: black;
}


/*Dictionary main content area*/

#cMain {
  padding: 20px
}

textarea .transcript {
  width: 600px !important;
}

.title {
  background: rgb(61, 65, 77);
  top: 0;
  font-family: arial, sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 20px;
}

#content {
  padding: 40px;
	padding-bottom:100px;
}

.the_media_player_div {
  display: none;
}

#controls {
	display:none;
}
#footer {
  text-align: center;
  /*display:none;*/
  width: 100%;
  padding: 20px;
  position: fixed;
	bottom: 0;
  background: rgb(61, 65, 77);
	color:white;
	font-family: arial, sans-serif;
}

.copyright{
	margin-top:20px;
}

.player_control {
  background: red;
  padding: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.player_control:hover {
  background: blue;
}
