body >:not(.pace), body:before, body:after {
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out
}

body:not(.pace-done) >:not(.pace), body:not(.pace-done):before, body:not(.pace-done):after {
  opacity: 0
}


/*** Context Menu ***/

.context-menu-list {
  text-align: center !important;
  width: 160px !important;
}

.context-menu-item {
  padding: 10px !important;
  background-color: #1E282C !important;
  color: white !important;
  font-family: "Arial", sans-serif !important;
  font-size: 1.5em !important;
}

.context-menu-item:hover {
  background-color: rgb(60, 141, 188) !important;
}

.tooltipster-default {
  background: #3c8dbc !important;
  border: 3px solid white !important;
  border-bottom:5px solid white !important;
}

.tooltipster-default .tooltipster-content {
  color: white !important;
  font-size: 18px !important;
  line-height: 1.3em !important;
  text-align: center;
}

.tooltipster-base {
  min-width: 75px !important;
  max-width: 400px !important;
}


/*** Transcript Text Styles ***/

.media_source {
  font-style: italic;
  color: rgb(99, 99, 99);
  display: inline-block;
  margin-left: 1px;
  border-bottom: 1px dotted;
  padding-bottom: 5px;
}

span[class^="word"] {
  cursor: pointer;
  margin: 5px;
}

span[class^="word"]:hover {
  background: yellow;
}

span[class^="line"] {
  border-bottom: 1px solid silver;
  display: inline-block;
  width: 100%;
  padding: 5px;
  padding-right: 20px;
}

span[class^="line"]:nth-child(even) {
  background: rgba(255, 255, 255, 0.85);
}

span[class^="line"]:hover {
  background-color: rgb(225, 255, 222);
  color: black;
}

.highlight {
  background: yellow;
}

.hasDefinitionNow {
  background: cyan;
}

.dvSentence {
  font-size: 14pt;
  font-family: 'Nanum Gothic', sans-serif;
  color: slategrey;
  line-height: 220%;
  text-indent: 0ex;
  text-align: left;
}

#cMain {
  padding: 20px
}


/*** Hide things until they're needed ***/

.the_media_player_div {
  display: none;
}

#controls {
  display: none;
}


/*
#dv_definitions_userentry {
  position: absolute;
  bottom: 0;
  background: rgb(42, 43, 48);
  width: 100%;
  padding: 20px;
  color: black;
}
*/

input#submit_definition_box {
  width: 100%;
  padding: 10px;
}


/*** Left Sidebar ***/

.main-sidebar {
  height: 100%;
}

.sidebar-menu {
  padding-bottom: 20px;
}


/*** Right Sidebar ***/

.control-sidebar {
  position: fixed;
  height: 100%;
  overflow: hidden;
}


/*** Miscellaneous ***/

a.dv_a_no_hover:hover {
  background: transparent !important;
}