/*** RESPONSIVE Optimizations ***/

/*** Orientation Warning for mobile ***/

/* for all screens */
#orientationWarning {display: none;}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #orientationWarning {
         display: block;
         height:100%;
         width:100%;
         position:fixed;
         background:black;
         color:white;
         z-index: 10000;
         padding:100px;
         text-align: center;
    }
}

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
  /* Your touch-specific css goes here */

  a.logo, .control_label {
    display: none !important;
  }
}
